<header>
<ul>
  <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']" >Sobre mí </a></li>
  <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
  <li id="logo" href="#"><a>MRG</a></li>
  <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto </a></li>
  <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
</ul>
</header>
<section id="content">
  <router-outlet></router-outlet>

</section>
<footer>
  Pura Mater class &copy;
</footer>