<h2>{{ titulo }}</h2>
<p>Compra las zapatillas de las mejoras marcas</p>
<ul>
  <li *ngFor="let marcas of marcas; let indice = index">
    {{ "[" + indice + "]: " + marcas }}
  </li>
</ul>
<p>Zapatillas:</p>

<ul>
  <li *ngFor="let deportiva of zapas">
    <span
      [ngStyle]="{'text-decoration': !deportiva.stock ? 'line-through' : 'none'}" >
      {{ deportiva.nombre }} : {{ deportiva.precio }}€
    </span>
    <!-- <span *ngIf="deportiva.precio <=80" [style]="'background:green'"> !En OFERTA</span>-->
    <span
      *ngIf="deportiva.precio <= 80 && deportiva.stock"
      [style.background]="deportiva.precio <= 80 ? 'green' : 'transparent'"
      [style.color]="deportiva.precio <= 80 ? 'white' : 'black'">
      !En OFERTA
    </span>
    <span
      *ngIf="!deportiva.stock"
      [ngStyle]="{color: !deportiva.stock ? 'red' : 'black'}" >
      OUT OF STOCK
    </span>
  </li>
</ul>
