<div class="container">
  <h1>
    Contacto
  </h1>
  <label>Ancho:</label>
  <input type="number" [(ngModel)]="_widthSlider"/><br/>
  <select [(ngModel)]="_captionsSlider">
    <option value="true">Mostrar</option>
    <option value="false">NO Mostrar</option>
  </select>
  <br/>
  <button (click)="cargarSlider()"  class="button-edit">Cargar</button>
  <button (click)="resetearSlider()"  class="button-delete">Resetear</button>
  <br/> <br/> <br/>
  


  <div *ngIf="_anchuraSlider>0">
    
    <app-slider 
    [_anchura]="_anchuraSlider" 
    [_captions]="_captionsSlider"
    (emitirAutor)="conseguirAutor($event)"></app-slider>
  </div>
 

  {{_autor.nombre}}
  {{_autor.web}}
  {{_autor.libro}}

</div> 