/* You can add global styles to this file, and also import other style files */
*{
    font-family: Arial, Helvetica, sans-serif;
}
.altoPrecio{
    color:green;
    font-size: 18px;
}
button{
    background: #82916A;
    border-radius: 10px;
    border: 1px solid black;
}
.botones{
    background: #E8DFCE !important;
}
.subrayado{
    text-decoration: underline;
}
.fondoRojo{
    background: red;
}